server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/cvapp
    username: ${DB_USER:cvapp}
    password: ${DB_PASSWORD:OVdj9N5lfxe8OjJxt2xhLrt39ryYqpVG}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: email, profile
            redirect-uri: "{baseUrl}/api/auth/google/callback"

app:
  jwt:
    secret: ${JWT_SECRET:eyJhbGciOiJIUzI1NiJ9Cv4ppS3cr3tK3yF0rJWT}
    expiration: 86400000 # 24 hours
  cors:
    allowed-origins: https://salyem.dev,http://localhost:5173
  admin:
    emails: ams.8@msn.com
